<div class="presents-container">
  <h2>Presents</h2>

  <div class="presents-list">
    <ul>
      <li *ngFor="let present of presents">
        <div class="present-item">
          <p><strong>Id Present:</strong> {{ present.IdPresent }}</p>
          <p><strong>Id Emetteur:</strong> {{ present.idEmetteur }}</p>
          <p><strong>Id Type Assemblee:</strong> {{ present.IdTypeAssemblee }}</p>
          <p><strong>Matricule:</strong> {{ present.Matricule }}</p>
          <p><strong>Date Tenue:</strong> {{ present.dateTenue | date }}</p>
          <button (click)="onSelectPresent(present)">Select</button>
        </div>
      </li>
    </ul>
  </div>

  <div class="present-details" *ngIf="selectedPresent">
    <h3>Present Details</h3>
    <p><strong>Id Present:</strong> {{ selectedPresent.IdPresent}}</p>
    <p><strong>Id Emetteur:</strong> {{ selectedPresent.idEmetteur }}</p>
    <p><strong>Id Type Assemblee:</strong> {{ selectedPresent.IdTypeAssemblee }}</p>
    <p><strong>Matricule:</strong> {{ selectedPresent.Matricule }}</p>
    <p><strong>Date Tenue:</strong> {{ selectedPresent.dateTenue | date }}</p>
    <button (click)="onUpdatePresent(selectedPresent)">Update</button>
    <button (click)="onDeletePresent(selectedPresent)">Delete</button>
  </div>

  <div class="create-present-form" *ngIf="!selectedPresent">
    <h3>Create New Present</h3>
    <form [formGroup]="presentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="idEmetteur">Id Emetteur:</label>
        <input type="text" id="idEmetteur" formControlName="idEmetteur" required>
      </div>
      <div class="form-group">
        <label for="IdTypeAssemblee">Id Type Assemblee:</label>
        <input type="text" id="IdTypeAssemblee" formControlName="IdTypeAssemblee" required>
      </div>
      <div class="form-group">
        <label for="Matricule">Matricule:</label>
        <input type="number" id="Matricule" formControlName="Matricule" required>
      </div>
      <div class="form-group">
        <label for="dateTenue">Date Tenue:</label>
        <input type="date" id="dateTenue" formControlName="dateTenue" required>
      </div>
      <button type="submit" [disabled]="presentForm.invalid">Create</button>
    </form>
  </div>
</div>