<div>
    <form [formGroup]="presentsForm" (ngSubmit)="onSubmit()">
      <input formControlName="matricule" placeholder="Matricule" />
      <input formControlName="emetteur" placeholder="Emetteur" />
      <input formControlName="typeAssemblee" placeholder="TypeAssemblee" />
      <input formControlName="solde" placeholder="Solde" />
      <input formControlName="typePresence" placeholder="Type Presence" />
      <button type="submit">{{ isEditMode ? 'Update' : 'Add' }} Presents</button>
      <button type="button" (click)="cancelEdit()" *ngIf="isEditMode">Cancel</button>
    </form>
  </div>
  
  <div>
    <input placeholder="Search" (input)="applyFilter($event)" />
  </div>
  
  <table mat-table [dataSource]="filteredPresents" class="mat-elevation-z8">
    <ng-container matColumnDef="matricule">
      <th mat-header-cell *matHeaderCellDef> Matricule </th>
      <td mat-cell *matCellDef="let element"> {{element.matricule}} </td>
    </ng-container>
  
    <ng-container matColumnDef="emetteur">
      <th mat-header-cell *matHeaderCellDef> Emetteur </th>
      <td mat-cell *matCellDef="let element"> {{element.emetteur.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="typeAssemblee">
      <th mat-header-cell *matHeaderCellDef> Type Assemblee </th>
      <td mat-cell *matCellDef="let element"> {{element.typeAssemblee.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="solde">
      <th mat-header-cell *matHeaderCellDef> Solde </th>
      <td mat-cell *matCellDef="let element"> {{element.solde.amount}} </td>
    </ng-container>
  
    <ng-container matColumnDef="typePresence">
      <th mat-header-cell *matHeaderCellDef> Type Presence </th>
      <td mat-cell *matCellDef="let element"> {{element.typePresence}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="editPresents(element)">Edit</button>
        <button (click)="deletePresents(element.matricule)">Delete</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <div *ngIf="filteredPresents.length === 0" colspan="6">
    No data matching the filter "{{ searchFilter }}"
  </div>
  