<mat-form-field>
    <mat-label>Emetteur</mat-label>
    <mat-select [(value)]="selectedEmetteur" (selectionChange)="onEmetteurChange($event)">
        <mat-option *ngFor="let emetteur of emetteurs" [value]="emetteur.idEmetteur">
            {{emetteur.libelleCourt}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Titre</mat-label>
    <mat-select [(value)]="selectedTitre" (selectionChange)="onTitreChange($event)">
        <mat-option *ngFor="let titre of titres" [value]="titre.idTitre">
            {{titre.libelleCourt}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>From</mat-label>
    <input matInput [matDatepicker]="pickerFrom" [(ngModel)]="minDate">
    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>To</mat-label>
    <input matInput [matDatepicker]="pickerTo" [(ngModel)]="maxDate">
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>

<mat-radio-group [(ngModel)]="selectedRadioOption">
    <mat-radio-button value="FGO">FGO</mat-radio-button>
    <mat-radio-button value="FCRA">FCRA</mat-radio-button>
</mat-radio-group>

<button (click)="Export()">Export</button>

