<div class="container mat-elevation-z8">
    <form [formGroup]="importForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Emetteur</mat-label>
        <mat-select formControlName="emetteur" (selectionChange)="onEmetteurChange($event.value)" required>
          <mat-option *ngFor="let emetteur of emetteurs" [value]="emetteur">{{ emetteur }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Titre</mat-label>
        <mat-select formControlName="titre" required>
          <mat-option *ngFor="let titre of titres" [value]="titre">{{ titre }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <div>
        <input type="file" (change)="onFileChange($event)" />
      </div>
  
      <mat-radio-group formControlName="radioOption">
        <mat-radio-button value="FGO">FGO</mat-radio-button>
        <mat-radio-button value="FCRA">FCRA</mat-radio-button>
      </mat-radio-group>
  
      <br><br>
  
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
  