<div class="container mat-elevation-z8">
    <mat-form-field>
      <mat-label>Emetteur</mat-label>
      <mat-select [(value)]="selectedEmetteur" (selectionChange)="onEmetteurChange($event)">
          <mat-option *ngFor="let emetteur of emetteurs" [value]="emetteur.idEmetteur">
              {{emetteur.libelleCourt}}
          </mat-option>
      </mat-select>
  </mat-form-field>
  
  <mat-form-field>
      <mat-label>Titre</mat-label>
      <mat-select [(value)]="selectedTitre" (selectionChange)="onTitreChange($event)">
          <mat-option *ngFor="let titre of titres" [value]="titre.idTitre">
              {{titre.libelleCourt}}
          </mat-option>
      </mat-select>
  </mat-form-field>

    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div *ngIf="selectedType === 'FGO'">
      <input type="file" id="fileFGO" (change)="ReadFGO($event)" />
    </div>
    
    <!-- Show file input only if selectedType is FCRA -->
    <div *ngIf="selectedType === 'FCRA'">
      <input type="file" id="fileFCRA" (change)="ReadFCRA($event)" />
    </div>

    <mat-radio-group [(ngModel)]="selectedType">
      <mat-radio-button value="FGO">FGO</mat-radio-button>
      <mat-radio-button value="FCRA">FCRA</mat-radio-button>
  </mat-radio-group>

    <br><br>

    <button (click)="onSubmit()">Submit</button>  
  
</div>
